* {
    margin: 0;
    box-sizing: border-box;
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/montserrat-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/montserrat-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/montserrat-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/montserrat-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/montserrat-v18-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/montserrat-v18-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/montserrat-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/montserrat-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/montserrat-v18-latin-700.woff') format('woff'), /* Modern Browsers */
         url('fonts/montserrat-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/montserrat-v18-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  
  
body {
	background: linear-gradient(-45deg, #bb5e41, #aa305f, #21718f, #21967a);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

  
  

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.countdown {
    min-width: 375px;
    /* border: 1px solid red; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: white;
    text-align: center;
}